# 编辑器或IDE可能产生的文件
debug.log
.vscode
__pycache__

# 中间文件或临时文件
tmp*
*log
*.err
*.extxyz
RSS_tmp

# 以下目录存放VASP、LAMMPS输入脚本等
VASP_inputs_*
LAMMPS_inputs_*

# GAP_potential 目录存放训练得到的势能
GAP_potential

# buildcell 在不同的平台上可能不同
buildcell  

# not finished yet
run.sh
clean.sh
